a{
    text-decoration: none;
}


header{
    margin: 0%;
    height: 20vh;
    background-color: #0e0c0b;
    /* background-image: url("y.jpg"); */
    /* background-attachment: fixed; */
    display: grid;
    padding:0px;
    grid-template-columns: repeat(auto-fill,33vw);
}

.LOGO{
    margin:auto;
}
.Button{
    background-color: white;
    height: 5vh;
    width: 5vw;
    margin-top: 8vh;
    position: absolute; 
    right: 4vw;
    padding: 5px 10px;
    float :right;
    border:none;
    border-radius: 10%;
    text-decoration:darkgreen;
}
.ButtonLeft{
    background-color: white;
    height: 5vh;
    width: 5vw;
    margin-top: 8vh;
    position: absolute; 
    left: 4vw;
    padding: 5px 10px;
    float :left;
    border:none;
    border-radius: 10%;
    text-decoration:darkgreen;
}
body{
    margin: 0%;
    background: #FCDEC0;
    height: 1000vh;
    width: 99vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
  



/* Heading  */
.Heading{
   border-bottom: 10px solid rgb(209, 102, 14);
   text-align: center;
   margin: auto;
   width: 200px;
   padding-top: 10vh ;
   font-family: 'IM Fell English', serif;
   font-weight: bold;
   font-size: 5vh;
}    
.Heading:hover{
    border-bottom: 10px double rgb(209, 102, 14);
}

/* Trasnition */
.photo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2vw;
    row-gap: 2vh;
    margin:5vw;
    text-align: center;
}

/* Grid mai photos adjust */
.long{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    width:90%;
}
.bigfourleft{
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
}
.bigfourright{
    grid-row-start: 11;
    grid-row-end: 13;
    grid-column-start: 2;
    grid-column-end: 4;
}
.long2{   
    grid-row-start: 14;
    grid-row-end: 16;
    grid-column-start: 1;
    width:90%;
}
.long3{   
    grid-row-start: 15;
    grid-row-end: 17;
    grid-column-start: 3;
    width:90%;
}

.horizontal{
    grid-column-start: 1;
    grid-column-end:4 ;
    height: 75%;
    margin: 0px 200px;
}

/* !....! */

#img{
    margin: auto;
    width: 100%;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    border-radius: 5%;
}
#img:hover{
    width:100%;
    opacity: 0.75;
}
.textbelow_img{
    margin: auto;
    margin: 10px 0px;
}

/* Trasnition 2 */
#imgs{
    width: 100%;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function:ease;
    margin: auto;
    border-radius: 5%;
}
#imgs:hover{
    transform: scale(1.15, 1.15);
    border-radius: 0%;
    
}
/* !....! */